<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<!--type：表示用哪种类型记录日志，log4net.Appender.RollingFileAppender表示用文本记录日志。-->
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">

			<!--日志存储路径-->
			<file value="Log\" />

			<!--是否追加日志-->
			<appendToFile value="true" />

			<!--防止多线程时不能写Log，官方说线程非安全。-->
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

			<!--配置Unicode编码-->
			<encoding value="utf-8" />

			<!--是否只写到一个文件-->
			<staticLogFileName value="false" />

			<!--为文件名加后缀，可用作：以日期作为文件名生成log。-->
			<datePattern value="yyyyMMdd'.txt'" />

			<!--可以为：Once|Size|Date|Composite-->
			<!--Composite为Size和Date的组合-->
			<rollingStyle value="Composite" />

			<!--日志最大个数，仅保留最新的。-->
			<!--rollingStyle节点为Size时，只能有value个日志文件。-->
			<!--rollingStyle节点为Composite时，每天只能有value个日志文件。-->
			<maxSizeRollBackups value="2" />

			<!--可用单位：KB|MB|GB-->
			<maximumFileSize value="10MB" />

			<!--过滤器-->

			<!--拒绝所用的日志输出(日志记录开关)-->
			<!--<filter type="log4net.Filter.DenyAllFilter" />-->

			<!--只有指定等级的日志事件才被记录-->
			<!--<filter type="log4net.Filter.LevelMatchFilter">
        <AcceptOnMatch value="true" />
        <param name="levelToMatch" value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />-->

			<!--只有指定范围等级的日志事件才被记录-->
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="DEBUG" />
				<param name="LevelMax" value="FATAL" />
			</filter>

			<!--日志输出格式-->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level: %message %n" />
			</layout>
		</appender>

		<!--输出控制级别，从高到低分别是: OFF > FATAL > ERROR > WARN > INFO > DEBUG > ALL -->
		<root>
			<priority value="ALL" />
			<level value="ALL" />
			<appender-ref ref="RollingFileAppender" />
		</root>
	</log4net>
</configuration>