<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="c3c2a257-2ee8-42be-9e36-cd895f155fbf"
    Publisher="CN=chenzhaoji"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>TheGuideToTheNewEden.WinUI (Package)</DisplayName>
    <PublisherDisplayName>QEDSD</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="TheGuideToTheNewEden"
        Description="TheGuideToTheNewEden.WinUI (Package)"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
		<Extensions>
			<desktop:Extension Category="windows.toastNotificationActivation">
				<desktop:ToastNotificationActivation ToastActivatorCLSID="5D514C15-D280-421A-96F8-3282AE6AE6E2" />
			</desktop:Extension>

			<!--Register COM CLSID-->
			<com:Extension Category="windows.comServer">
				<com:ComServer>
					<com:ExeServer Executable="TheGuideToTheNewEden.WinUI.exe" DisplayName="TheGuideToTheNewEden" Arguments="----AppNotificationActivated:">
						<com:Class Id="5D514C15-D280-421A-96F8-3282AE6AE6E2" />
					</com:ExeServer>
				</com:ComServer>
			</com:Extension>

		</Extensions>
	</Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
